<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="Stylesheet" href="../static/css/StyleSignup.css" />
    <title>DevPro Sign Up</title>
    <link rel="icon" href="../static/Images/DevPro.png" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="section1">
        <div class="signup">
            <form class="datos" action="/submit" method="POST">
                <img class="logo" src="../static/Images/DevPro3.png" width="200px"/>
                <h2>Registrate</h2>
                <div class="info">
                    <label for="name">Nombre: </label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="info">
                    <label for="lastname">Apellido: </label>
                    <input type="text" name="lastname" id="lastname" />
                </div>
                <div class="info">
                    <label for="date">Fecha de nacimiento: </label>
                    <input type="date" name="date" id="date" />
                </div>
                <div class="info">
                    <label for="email">Correo: </label>
                    <input type="email" name="email" id="email" />
                </div>
                <div class="info">
                    <label for="password">Contraseña: </label>
                    <input type="password" name="password" id="password" />
                </div>
                <div class="boton">
                    <button type="submit" id="botonazo" name="botonazo">Registrate</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>