<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Services/Integraciones/static/Images/DevPro.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/Services/Integraciones/static/styleservice.css"/>
    <title>Integraciones</title>
</head>
<body>
    <header>
        <div class ="logoint">
            <img src="/Services/Integraciones/static/Images/DevPro.png" width="70px" />
        </div>
        <nav class="NAV">
            <a class="nav1 navbar-brand" href="/Index/index.html" id="inicio">Home</a>
            <a class="nav1 navbar-brand" href="/Index/index.html" >Services</a>
            <a class="nav1 navbar-brand" href="#" >Support</a>
            <a class="nav1 navbar-brand" href="#" >Contact Us</a>
            <a class="nav1 navbar-brand" href="#" >About Us</a>
            <a class="nav2 navbar-brand" href="/Login/templates/login.html" id="login">Login</a>
            <a class="nav2 navbar-brand" href="/Sign up/templates/signup.html" id="signup">Sign Up</a>
        </nav>
    </header>
    <section class="section1">
        <h1>Nuestros servicios</h1>
        <div class="container1">
            <div>
                <h3>Integraciones</h3>
                <p>Integramos diferentes plataformas y servicios para optimizar tus procesos y mejorar la eficiencia de tu negocio. Desde sistemas de pago hasta herramientas de marketing, hacemos que todo funcione en armonía.</p>
                <p>Ofrecemos:</p>
                <ul>
                    <li>Integración con plataformas de pago como PayPal, Stripe y más.</li>
                    <li>Conexión con CRM y ERP para una gestión eficiente de datos.</li>
                    <li>Automatización de procesos mediante APIs.</li>
                    <li>Soporte técnico para resolver cualquier inconveniente.</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>