<!DOCTYPE html>
<html>
<head>
    <link rel="Stylesheet" href="../static/css/styleLogin.css" />
    <title>DevPro Login</title>
    <link rel="icon" href="../static/Images/DevPro.png" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section>
        <div class="login">
            <form class="cformlog">
                <img class="logo" src="../static/Images/DevPro2.png" width="200px"/>
                <h2>Inicia sesión en DevProGT</h2>
                <div class="inputs">
                    <div class="input">
                        <input class="in" type="email" id="email" name="email" placeholder="User or Email"/>
                        <i class='bx bxs-user' ></i>
                    </div>
                    <div class="input">
                        <input class="in" type="password" id="password" name="password" placeholder="Password"/>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                </div>
                <div class="other">
                    <div class="one">
                        <input type="checkbox" /><label>Recuérdame</label>
                    </div>
                    <div class="one">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div class="ingresar">
                    <button class="botonazo" type="submit" name="ingresar" >Inicia Sesión</button>
                </div>
                <div class="noAccount">
                    <label class="na">No tienes cuenta?</label>
                    <a class="na" href="#">Registrate</a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>